<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hellospringboot.demo.dao.BillrecordMapper">
  <resultMap id="BaseResultMap" type="hellospringboot.demo.entity.Billrecord">
    <id column="sn" jdbcType="VARCHAR" property="sn" />
    <result column="userid" jdbcType="VARCHAR" property="userid" />
    <result column="biil_name" jdbcType="VARCHAR" property="biilName" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="target_name" jdbcType="VARCHAR" property="targetName" />
    <result column="isincome" jdbcType="VARCHAR" property="isincome" />
    <result column="bill_type" jdbcType="VARCHAR" property="billType" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="billtime" jdbcType="TIMESTAMP" property="billtime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from billrecord
    where sn = #{sn,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="hellospringboot.demo.entity.Billrecord">
    insert into billrecord (sn, userid, biil_name, 
      price, target_name, isincome, 
      bill_type, createtime, billtime
      )
    values (#{sn,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, #{biilName,jdbcType=VARCHAR}, 
      #{price,jdbcType=DECIMAL}, #{targetName,jdbcType=VARCHAR}, #{isincome,jdbcType=VARCHAR}, 
      #{billType,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{billtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="hellospringboot.demo.entity.Billrecord">
    update billrecord
    set userid = #{userid,jdbcType=VARCHAR},
      biil_name = #{biilName,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      target_name = #{targetName,jdbcType=VARCHAR},
      isincome = #{isincome,jdbcType=VARCHAR},
      bill_type = #{billType,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      billtime = #{billtime,jdbcType=TIMESTAMP}
    where sn = #{sn,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select sn, userid, biil_name, price, target_name, isincome, bill_type, createtime, 
    billtime
    from billrecord
    where sn = #{sn,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select sn, userid, biil_name, price, target_name, isincome, bill_type, createtime, 
    billtime
    from billrecord
  </select>

<!--<select id="GetBillList" resultMap="BaseResultMap" parameterType="java.lang.String" >-->
  <!--select *-->
  <!--from billrecord-->
  <!--where userid = #{userid,jdbcType=VARCHAR}-->
<!--</select>-->
</mapper>