<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hellospringboot.demo.dao.UserMapper">
  <resultMap id="BaseResultMap" type="hellospringboot.demo.entity.User">
    <id column="userid" jdbcType="VARCHAR" property="userid" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="loginname" jdbcType="VARCHAR" property="loginname" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="is_delete" jdbcType="VARCHAR" property="isDelete" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from user
    where userid = #{userid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="hellospringboot.demo.entity.User">
    insert into user (userid, username, loginname, 
      password, createtime, is_delete
      )
    values (#{userid,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{loginname,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="hellospringboot.demo.entity.User">
    update user
    set username = #{username,jdbcType=VARCHAR},
      loginname = #{loginname,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=VARCHAR}
    where userid = #{userid,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select userid, username, loginname, password, createtime, is_delete
    from user
    where userid = #{userid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select userid, username, loginname, password, createtime, is_delete
    from user
  </select>
  <!--<select id="Login" resultMap="BaseResultMap" parameterType="hellospringboot.demo.entity.User" >-->
    <!--select-->
      <!--*-->
    <!--from user-->
    <!--where loginname = #{loginname,jdbcType=VARCHAR} and-->
      <!--password = #{password,jdbcType=VARCHAR}-->
  <!--</select>-->
</mapper>